body{
  color:White;
  background-color:black;
}

.center {
  background-color:#21050D;
  padding: 20px;
  border-radius:50px;
  border: 3px solid #FFAEC2;
}

h1 {
  color:#FFAEC2;
}

p {
  color: #FFD9E3;
  line-height: 1.5;
}

/*h3 {
  color:#FFAEC2;
}*/

.centralizar {
  text-align: center;
}

.centralizar a{
  margin-top: 15px;
  color: #FFAEC2;
  text-decoration: none;
}